<script language="javascript">
var tempPostId;
var confirmDelete="Are you sure to delete this file?"
var confirmPrivate="Are you sure to make this file private?"
var confirmPublic="Are you sure to make this file public?"
var confirmAddFriend="Are you sure to add the uploader of this file as Friend?"

function popupConfirmDialogwithPost(id, text, formid)
{
	tempPostId=formid;
	popupConfirmDialog(id, text, postForm);
}
function popupConfirmDialog(id, text, callback)
{
	confirmtxt= document.getElementById("confirm_txt");
	if(text!=null)
		confirmtxt.innerHTML=text;
	okbutton=document.getElementById("okbtn");
	if(callback!=null)
		okbutton.onclick=callback;
	popup = document.getElementById(id);
	popup.style.visibility = (popup.style.visibility == "visible") ? "hidden" : "visible";
	popup.style.opacity = (popup.style.opacity == "1") ? "0" : "1";
}
function closeConfirmDialog(id)
{
	popup = document.getElementById(id);
	popup.style.visibility = (popup.style.visibility == "visible") ? "hidden" : "visible";
	popup.style.opacity = (popup.style.opacity == "1") ? "0" : "1";
}
function postForm()
{
	document.getElementById(tempPostId).submit();
}
</script>
<div id="confirm" class="overlay">
<div class="popup_confirm">
<h4>Warning</h4>
<p id="confirm_txt"></p>
<p>
	<%= button_tag 'OK', :id=>"okbtn" %>
	<%= button_tag 'Cancel', :id=>"cancelbtn", :onclick=>"closeConfirmDialog('confirm');" %>
</p>
</div></div>
