<script language="javascript">
function popupResetDialog(userid, username)
{
	confirmtxt= document.getElementById("rpswd_txt");
	if(username!=null)
		confirmtxt.innerHTML="Enter new password for user "+username;
	userid_input=document.getElementById("rpswd_user_id");
	if(userid!=null)
		userid_input.value=userid;
	popup = document.getElementById("reset_password");
	popup.style.visibility = (popup.style.visibility == "visible") ? "hidden" : "visible";
	popup.style.opacity = (popup.style.opacity == "1") ? "0" : "1";
}
</script>
<div id="reset_password" class="overlay">
<div class="popup_confirm">
<h4>Password reset</h4>
<p id="rpswd_txt">Enter new password for user:</p>
<%= form_tag :action => 'reset_password' do %>
	<%= hidden_field_tag 'user_id', "",:id=>"rpswd_user_id" %>
	<%= text_field_tag 'newpassword', "", :style => 'width:100%;'  %>
	<br /><br />
	<%= button_tag 'OK' %>
	<input type="button" value="Cancel" onclick="closeConfirmDialog('reset_password');">
<% end %>
</div></div>
